www.jonathandain.dev {
	redir https://jonathandain.dev{uri}
}

jonathandain.dev {
   handle /robots.txt {
      root */root/theremake/remake-client/robots.txt
      encode zstd gzip
      try_files {path} {path}/ /index.html

      file_server
   }
   handle * {
      root * /root/theremake/remake-client/build
      encode zstd gzip
      try_files {path} {path}/ /index.html

      file_server
   }

   handle_errors {
      respond "{http.error.status_code} {http.error.status_text}"
   }

}

